* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    text-align: center;
    padding-top: 50px;
}

canvas {
    border: 1px solid black;
    background-color: gray;
}